@media (max-width: 900px) {
    body {
        padding: 0;
        margin: 40px 15px;
        justify-content: flex-start; /*move body content to top*/
    }

    .container {
        max-width: 500px;
        margin-bottom: 1.5rem;
    }
}

@media (max-width: 640px) {
    .container {
        max-width: 420px;
    }

    footer {
        justify-content: center; /* center social icons */
    }
}

@media (max-width: 480px) {
    body {
        margin: 20px 5px;
        animation: none; /*no animations at small widths*/
    }

    .container {
        max-width: 380px;
    }

    .profile-photo {
        max-width: 100%;
    }
}

@media (max-width: 380px) {
    body {
        margin: 20px 5px;
    }

    .container {
        max-width: 320px;
    }
}
