/*Style guide*/

/**
 * normal: #333;
 * dark: #131f21 @alpha 0.95;
 * base-size: 16px;
 * blue: #2584B3;
 * highlight: #48A4D2;
 **/

/*CSS Reset to remove all styling and remove browser inconistencies*/

@import url(./reset.css);

/*Import fonts and icons*/

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,500,500italic,700,700italic,300,300italic);
@import url(http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

/*Responsive*/

@import url(./responsive.css);

/* Basic styles*/

*, *:before, *:after {
    box-sizing: border-box;
}

a, a:visited, a:focus, a:active {
    text-decoration: none;
}

a {
    color: #35aba5;
    transition: color 0.25s ease-in;
}

a:hover {
    color: #267D79;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4, h5, h6 {
    font-size: 1rem;
}

p {
    margin-bottom: 1rem;
}

emph {
    font-style: italic;
}

/*override reset-ed styles*/

ul.bulleted {
    list-style-type: disc;
    padding-left: 3rem;
}

/*Skeleton*/

html {
    height: 100%;    
    /*declare a font size so we can use rem (relative to root element) units*/
    font-size: 16px;
}

body {
    /*widths and heights*/
    min-height: 100%;
    padding: 50px 200px;
    
    /*colors and fonts*/
    font-family: 'Fira Sans', 'sans-serif';
    font-size: 1rem;
    font-weight: 400;
    color: #333;

    /*typography*/
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 1.6;
    
    /*alignment and display*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #f1f2ed;
    background-size: 100%;
    
    /*animations*/
    animation: slide 0.5s ease-out;
}

/*Common container*/

.container {
    width: 720px;
    margin-bottom: 3rem;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

header .name {
    font-size: 1.5rem;
}

header nav {
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
}

header nav ul li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/*Section – Main*/

.main {
    display: flex;
    flex-direction: column;
}

/*Footer*/

footer {
    display: flex;
    justify-content: flex-start;
}

footer ul.social {
    display: flex;
}

footer ul.social li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

footer ul.social li .icon {
    font-size: 1.25rem;
}

/* Icons */

.icon {
    text-rendering: geometricPrecision;
    color: #666;
    transition: color 0.25s ease-in;
}

.icon:hover {
    color: #111;
}

/*profile image*/

.profile-photo {
    max-width: 300px;
    background-size: 200px;
}

/*animations declarations*/

@keyframes slide {
    0% {
        transform: translateY(-20px);
        opacity: 0.3;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
